@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    @apply m-auto max-w-[1440px];
  }
}

@layer utilities {
  .padding {
    @apply px-8 py-12 sm:px-16 sm:py-24;
  }

  .padding-x {
    @apply px-8 sm:px-16;
  }

  .padding-y {
    @apply py-12 sm:py-24;
  }

  .padding-l {
    @apply pl-8 sm:pl-16;
  }

  .padding-r {
    @apply pr-8 sm:pr-16;
  }

  .padding-t {
    @apply pt-12 sm:pt-24;
  }

  .padding-b {
    @apply pb-12 sm:pb-24;
  }

  .info-text {
    @apply font-montserrat text-lg leading-7 text-slate-gray;
  }

  .slide {
    @apply visible opacity-100;
  }

  .links {
    @apply relative font-semibold duration-100;
  }

  .links::after {
    content: "";
    @apply absolute -bottom-0.5 left-0 h-[2px] w-0 bg-coral-red duration-300 hover:w-full;
  }

  .hamburger > span:first-child {
    @apply -rotate-[40deg];
  }

  .hamburger > span:nth-child(2) {
    @apply scale-0;
  }

  .hamburger > span:last-child {
    @apply rotate-[40deg];
  }
}
